main{
  width: 675px;
}

header {
  text-align: center;
  width = 675px;
}

svg{
  width: 12px;
  height: 19.459px;
  flex-shrink: 0;
  fill: #000;
  position:relative;
  left:-80px;
  top:-25px;
}


.header-title {
  font-size: 16px;
  line-height: normal;
  margin-left : 20;

}

.header-register {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.form-group {
  margin-bottom: 30px;
}

label{
  font-size: 18px;
}

/* 종류 글씨 */
.type {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/* 수입 파란색 버튼 */
.w-btn-bule {
  position: relative;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 8px;
  border: 1px solid #506CFF;
  background: #FFF;


  width: 95px;

  flex-shrink: 0;



}

/* 지출 빨간색 버튼 */
.w-btn-red {
  position: relative;
  display: inline-block;
  padding: 6px 30px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #D61F1F;
  background: #FFF;
  width: 95px;
  flex-shrink: 0;
  /*margin: 20px;*/
}


#content {
  width: 434px;
  height: 40px;
  flex-shrink: 0;
}

#amount {
  width: 300px;
  height: 40px;
  flex-shrink: 0;
}

.input-container .unit {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 14px;

}

#currentDate{
  width: 204px;
  height: 40px;
  flex-shrink: 0;

}

#means{
  width: 204px;
  height: 40px;
  flex-shrink: 0;
}

#category{
  width: 204px;
  height: 40px;
  flex-shrink: 0;
}



/* 원 위치 조정 */
.unit {
  position: relative;
  left: -35px;
  font-size: 14px;
}






/* 거래수단, 카테고리 선택 */
select {
  width: 200px;
  height : 40px;
  padding: 5px;
  border: 1px solid ;
  border-radius: 5px;
  font-size: 14px;

}




.button-text {
  color: #FFFFFF;
  font-size: 18px;

}

.register-button{
  font-size: 18px;
  font-color : #FFFFFF;
  width: 434px;
  height: 45px;
  border-radius: 8px;
  background: #506CFF;
  margin-top: 60px;
}